.region {
  @include section;

  &__container {
    background-color: #f5f5f5;
    width: 70%;
    display: grid;
    grid-template-columns: 1fr auto;
    justify-self: center;
    border-radius: 0.5rem;
    border: 1px solid rgb(226, 223, 223);
    @include respond(large) {
      width: 90%;
    }
    @include respond(smaller) {
      grid-template-columns: 1fr;
      width: 95%;
    }
  }
  &__city {
    display: grid;
    grid-template-rows: min-content 1fr 0.6fr;
    padding: 0 3rem;

    &__title {
      display: flex;
      font-weight: 700;
      margin: 1.8rem;
      margin-left: 0;
      font-size: 1.6rem;
      align-items: center;
      color: var(--color-headings);
    }
    &__map-icon {
      font-size: 2.5rem;
      margin-right: 1rem;
    }
    &__list {
      display: grid;
      grid-template-columns: repeat(3, auto);
      grid-template-rows: repeat(5, 1fr);
      list-style: none;
    }

    &__item {
      @include respond(smaller) {
        padding: 0.8rem 0;
      }
    }
    &__link:link,
    &__link:visited {
      color: rgb(107, 104, 104);
      font-size: 1.3rem;

      @include respond(small) {
        font-size: 1.6rem;
      }
    }
    &__button {
      display: flex;
      & button {
        background-color: var(--color-danger);
        font-size: 1.4rem;
        color: white;
        padding: 1.4rem;
        font-weight: 700;
        border: 0;
        border-radius: 0.4rem;
        box-shadow: 0 0.1rem 0.1rem rgba(#000, 0.4);
        align-self: start;
        margin: auto;
      }

      &--smallest-screen,
      &--login {
        width: 80%;
        margin: 10px auto !important;
      }
      &--header {
        background-color: #eb2809 !important;
        padding: 1.3rem 2.5rem !important;
      }

      &--login {
        background-color: transparent !important;
        color: var(--color-headings) !important;
        border: 2px solid #eb2809 !important;
        box-shadow: none !important;
      }
    }
  }
  &__map {
    padding-right: 5rem;
    @include respond(smaller) {
      justify-self: center;
      padding: 0 5rem;
    }
  }
}
