.wide-intro {
  background-color: transparent;
  grid-column: 1 / -1;
  grid-row: 2 / 3;

  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: 1fr 0.3fr 1fr;

  &__title {
    grid-column: 1 / -1;
    align-self: end;
    justify-self: center;
    color: white;
    font-weight: bold;
    font-size: 3.2rem;
    padding: 0 2rem;
    text-align: center;
    @include respond(smaller) {
      font-size: 2.5rem;
    }
  }
  &__sub-title {
    grid-column: 1 / -1;
    justify-self: center;
    align-self: center;
    color: white;
    padding: 0 2rem;
    text-align: center;
  }
  
}
