.dashboard {
  display: grid;
  background-color: #fff;
  grid-template-columns: repeat(2, 1fr) minmax(32vh, 1fr) repeat(9, 1fr);
  grid-template-rows: 9rem;
  grid-column-gap: 3rem;

  & .header {
    background-color: #f8f9fa;
    border-bottom: 1px solid rgb(238, 233, 233);
  }
}
